.body {
  box-sizing:border-box;
  color:navy;
}

/*Home Page*/
.home{
  background-image: url("../img/landingPage.jpg");
  background-size:cover;
}

.landing{
  color:white;
  font-family: 'Inconsolata', monospace;
  margin: 30px 0px;
  font-weight:bold;
}

.landing h1 {
  padding-left:0px;
  font-family: 'Inconsolata', monospace;
}

.landing h2 {
  padding-left:0px;
  margin-left:0px;
  font-size:1.8em;
  font-family: 'Inconsolata', monospace;
  background: none;
}

.start {
  background-image:url("../img/bookshelf2.jpg");
  background-size:cover;
}

/*Library*/

.personalInfo {
  border:solid navy 2px;
  border-radius:10px;
}

#profilePicture {
  width:79%;
}

.about {
  text-align:center;
}

.personalInfo{
  background:white;
}

.bookList {
  margin-top: 30px;
  border-radius:10px;
  min-height:500px;
  text-align:center;
  background:white;
  box-sizing:border-box;
}


/*Styles for every page*/
input {
  text-align:center;
}

nav {
  background:none;
  color:navy;
  height: 100px;
  line-height: 70px;
  border-top:navy 9px solid;
}

nav ul a {
  font-size: 1.2em;
  padding: 0 30px;
  font-size:1.2em;
  color:navy;
}

h1 {
  margin:0px;
  padding-left:50px;
  height:70px;
  line-height:70px;
  font-family: 'Inconsolata', monospace;
  font-weight:bold;
  color:navy;
}

h2 {
  margin: 0px;
  font-family: 'PT Mono', monospace;
  font-size: 1.8em;
  font-weight: bold;
  padding:5px;
  color:navy;

}
.container {
  width:95%;
  box-sizing:border-box;
}

.library {
  background:#d5dce8;
  background-size:cover;
  box-sizing:border-box;
}

.bookInfo, .discussions, .groups, .login {
  background: rgba(237, 238, 239,0.8);
  margin: 25px 0px;
  min-height:450px;
  text-align:center;
  font-family: 'Inconsolata', monospace;
  font-weight: bold;
  font-size: 1.1em;
  border: solid #524242 2px;
  border-radius:10px;
}

.bookInfo p {
    margin: 8px;
}

td, tr {
    padding: 5px;
    font-weight: bold;
    text-align:center;
}

.book:hover {
  background:white;
  cursor:pointer;
}

.btn {
  padding-left: 10px;
  padding-right: 10px;
  margin: 15px 5px;
}

#member-modal, #groups-modal {
  overflow: visible;
}

/* discovery page */


.discover {
    background-image: url("http://sprint.no/wp-content/uploads/2015/03/Book.gif");
    
    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-cards {
  width:80%;

}

#search{
  width: 60%;
}

.card content{
   background-color: #cec9c9;
}
div.card.medium{

    background-color: #cec9c9;

}
.material-icons.left{
  margin-right: 8px;
}