* {
  box-sizing:border-box;
}

nav {
  background:#5e6672;
  color:white;
  height: 70px;
  line-height: 70px;
}

nav ul a {
  font-size: 1.2em;
  padding: 0 30px;
}

h1 {
  margin:0px;
  padding-left:50px;
  height:70px;
  line-height:70px;
  font-family: 'Inconsolata', monospace;
}

nav ul a{
  padding: 0 30px;
  font-size:1.2em;
}

.library {
    background-image: url("../img/bookshelf.jpg");
}

h1 {
  margin:0;
  padding-left:50px;
  font-family: 'PT Mono', monospace;
  font-weight:bold;
}

h2 {
  margin: 10px;
  font-family: 'PT Mono', monospace;
  font-size: 2.7em;
  font-weight: bold;

}
.container {
  width:90%;
}

.library {
  background-image: url("../img/bookImage2.jpg");
  background-size:cover;
}

.bookList, .bookInfo, .discussions, .groups {
  background: rgba(220, 223, 229,0.9);
  margin:20px;
  min-height:450px;
  text-align:center;
  border-radius:20px;
  padding:10px;
  font-family: 'Inconsolata', monospace;
  font-weight: bold;
  font-size: 1.1em;

}

.bookInfo p {
    margin: 8px;
}

td, tr {
    padding: 5px;
    font-weight: bold;
    text-align:center;
}

.book:hover {
  background:white;
  cursor:pointer;
}

.btn {
  margin-left: 2px;
}